.main{
    padding: 2%;
    margin: 2px;
}
.heading{
    background-image: linear-gradient(to right,pink,skyblue);
}
.courosal{
    
    height: 310px;
    width: 525px;
    
   

    
}
.maincontainer{
    padding: 2%;
    margin: 2px;
    

}